.Infor {
    position : fixed;
    width : 100%;
    height : 100%;
  
    background: #a29bfe;
}

.subjects {
    display : flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    position: fixed;
    width: 100%;
    height: 100%;
    top : 25%;
    left: 50%;
    transform: translateX(-50%);
}