
body,html {
    width : 100%;
    height : 100%;
    margin : 0 ;
    padding : 0 ;
}

.question {
    margin-bottom : 10px;
}

.inputEl {
    margin-left : 30px ;
}

.para {
    width : 100%;
    display : flex ;
    flex-direction: row;
    
}

.para > * {
    flex:  0 0 25%;
}


.formAnswer {
    width : 100%;
}

.title {
    color : #fff ;
    display : flex ;
    flex-direction: column;
    align-items: center;
    background-color: #4D90FE;
}

.title > *{ 
   padding : 0 ;
   margin : 10px ;
}

.content {
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.container{
    padding : 0 ;
    background-color: #4D90FE;
}

.buttonParent {
    display : flex ;
    justify-content: center;
    align-items: center;
    padding-bottom : 20px;
}

.questions {
    margin-top : 20px;
}
