
.result {
    position : fixed;
    width : 100%;
    height : 100%;
    display : flex ;
    justify-content: center;
    align-items: center;
    background-color: #a29bfe;

}

.parent {
    padding : 20px; 
    background-color: #ffeaa7;
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.parent > * {
    margin : 15px;
}




